*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

img{
    width: 50px;
}

a{
    text-decoration: none;
    color: white;
}
h4{
    text-decoration: underline;
    padding-left: 20px;
}
.footer-bootom{
    background-color:darkslategray;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.company-socials{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 40px;
}
footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}
ul{
    list-style: none;
    padding: 10px 20px;
}
li{
    padding-bottom: 10px;
}
